@import url($font-family-url);

body {
    min-height: 100vh;
    background-color: black;
    background-image: $image-url-home-doodle-1;
    background-repeat: no-repeat;
    background-size: 100% $heroimage-height;
    background-size: cover;
    background-position: 50% 0%;

    font-family: $font-family-primary;
    font-size: $font-size;
    font-weight: 300;
    line-height: 1.5;


    .full-height {
        min-height: calc(100vh - #{$mainheader-height});
        max-height: calc(100vh - #{$mainheader-height});
    }

    .full-width {
        min-width: 100%;
    }

    .ucfirst {
        text-transform: lowercase;
    }

    .ucfirst:first-letter {
        text-transform: uppercase;
    }
}



@media (min-width: $media-small){
    body { background-image: $image-url-home-doodle-2 }
}

@media (min-width: $media-medium){
    body { background-image: $image-url-home-doodle-3 }
}



