.markdown {
	strong{
		font-weight: 700;
	}
	em{
	}
}


.titlefont{
	font-size: 2.2vw
}
.articlefont{
	font-size: 2.0vw
}
.specialfont{
	font-size: 2.0vw
}
.codefont{
	font-size: 1.6vw
}

.classes{
	hr {
	    width: 80%;
    	background-color: #cecece;
    	height: 1px;
    	border: 0;
    	margin-bottom: 1em;
	}
}