/compile/node_modules
/draggrjs/node_modules
/vuecli/node_modules
/vuecli/dist
/laravel/resources/demo
/laravel/public/hot
/laravel/app/Console/Commands/.php_cs.cache
/laravel/bootstrap/cache/*
/laravel/vendor
/laravel/.env
/laravel/supervisord.pid
/laravel/supervisord.log
/supervisord.pid
/supervisord.log
.idea
._*
.fuse_*
/nbproject/private/
