html {
	background-color: #0e0e0e;
	color: #fefefe;
}

body{
	height: 100vh;
    overflow-y: scroll;
}

.nice-class{
	width: 100vw;
	height: 100vh;
	padding: 2em;
}

.nice-class:nth-child(even) { background: #1c1c1c; color: #fefefe; }
.nice-class:nth-child(odd)  { background: #0e0e0e; color: #cccccc; }

header{
	background-color: transparent;
	position: fixed;
	padding: 8px;
	width: 100vw;
	transition: background-color 1500ms ease;
	z-index: 10;
}

.is-scrolled header{
	background-color: #4e4e4e;
}

.will-change{
	will-change: opacity;
}