.dropdown {
    display: inline-block;
    position: relative;
    z-index: 2;

    &.tentant {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .menu-panel {
        display: flex;
        color: black;
        padding: 0 2em 1em 1em;

        min-width: 370px;

        &.triple {
            min-width: 525px;
        }

        flex-wrap: wrap;

        .title {
            font-size: 14px;
        }

        .column {
            min-width: 160px;
            max-width: 160px;
            padding-left: 1em;
            padding-right: 1em;
        }

        a {
            border-left: 1px solid vc('border');
        }
    }
}

.dropdown--toggle {
    &:after {
        transform: rotateZ(0deg);
        transition: transform 200ms;
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0.5rem;
        vertical-align: middle;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }

    &.tentant {
        display: inline-flex;
        flex-direction: column;
        line-height: 14px;
        align-items: flex-start;
        padding: 0 14px 0 20px;

        &:after {
            position: absolute;
            right: 8px;
            margin-left: 0;
        }
    }

    &.open {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;

        &:after {
            transform: rotateZ(180deg);
        }
    }

}

.dropdown--menu {
    position: absolute;
    float: left;
    left: 0;
    background-color: #fff;
    border: 1px solid #CCCFD3;
    border-radius: 0;
    z-index: 1;
    display: none;
    opacity: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: -6px;
    margin-left: 3px;

    &.open {
        display: block;
        opacity: 1;
        animation-name: fadeInTop;
        animation-duration: 100ms;
        animation-fill-mode: forwards;
    }

    a {
        display: block;
        padding: 0.5rem 1rem;
        font-size: 13px;
        color: #333F50;
        cursor: pointer;
        text-align: left;
        white-space: nowrap;

        &:hover {
            background-color: #f4f4f6;
            color: #1B88E2;
            text-decoration: none;
        }
    }

}