@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(20px) translateY(120px);
    }

    5% {
        opacity: 1;
        transform: translateX(0) translateY(120px);
    }

    90% {
        opacity: 1;
        transform: translateX(0) translateY(120px);
    }

    95% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}