
.od-split-right.smaller.action{
    width: 100%;
    padding: 20px;
    .od-content{
        height: 100%;
        & > div {
            height: 100%;
            position: relative;
        }
    }
}
.od-action-row{
    width: 100%;
    .button {
        width: 100%;
        text-align: left;
        padding-left: 40px;
        border-radius: 0;
    }
}
.od-bottom-menu{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.od-content .widgets {
    position: relative;
}
.widgets .od-bottom-menu{
    bottom: -2px;
    left: 1px;
    right: 7px;
}


