.od-thumbs{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 20px;

	.od-thumb{

        cursor: pointer;
        padding: 8px;
        margin: 12px;

        .od-thumb-canvas{
        	box-shadow: inset 0px 0px 0px 1px vc('border');

            padding: 8px;
        	position: relative;
        	overflow: hidden;

            min-width: 215px;
            max-width: 215px;
            min-height: 171px;
            max-height: 171px;

        	background-color: black;
    		background: linear-gradient(to bottom, #2f0c0c 13%, #1f0115 100%);
    		background-repeat: no-repeat;
    		background-size: 100% 110px;
    		color: white;

        }

        &.selected{
            border: 4px solid vc(selected);
            padding: 4px;
        }

        &.new{
            box-shadow: 0 0 8px 0 vc(action);
        }

        a {
            color: white;
        }
	}
}

@media (max-width: $media-large){
    .od-thumbs .od-thumb{
    	max-width: 169px;
    	min-width: 169px;
		min-height: 121px;
    	max-height: 121px;
    	background-size: 100% 80px;

        .od-thumb-canvas{
            max-width: 153px;
            min-width: 153px;
            min-height: 103px;
            max-height: 103px;
            background-size: 100% 74px;
        }
    }

}