
.od-index{

	padding: 20px;

    .od-tabmenu{
        margin-top: -20px;
    }

    .od-thumb-row{
        cursor: pointer;
        width: 100%;
        padding: 8px;
        border: 1px solid vc('border');
        margin-bottom: 8px;
    }

    .od-thumbs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

	.od-thumb{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;

        cursor: pointer;
        padding: 8px;
        margin: 12px;
        margin-right: 0px;
        position: relative;

        .draw{

        }
        .icon{
            svg{
                width: 48px;
                height: 48px;
            }
        }
        .thumb-title{
            position: absolute;
            left: 60px;
        }

        .od-thumb-canvas{
        	box-shadow: inset 0px 0px 0px 1px vc('border');

            padding: 8px;
        	position: relative;
        	overflow: hidden;

            min-width: 204px;
            max-width: 215px;
            min-height: 171px;
            max-height: 171px;

        	background-color: black;
    		background: $thumb-default-image;
    		background-repeat: no-repeat;
    		background-size: 100% 110px;
    		color: white;

        }

        &.selected{
            border: 4px solid vc(selected);
            padding: 4px;
        }

        &.new{
            box-shadow: 0 0 8px 0 vc(action);
        }

        a {
            color: white;
        }
	}
}

@media (max-width: $media-large){
    .od-thumbs .od-thumb{
    	max-width: 169px;
    	min-width: 169px;
		min-height: 121px;
    	max-height: 121px;
    	background-size: 100% 80px;

        .od-thumb-canvas{
            max-width: 153px;
            min-width: 153px;
            min-height: 103px;
            max-height: 103px;
            background-size: 100% 74px;
        }
    }

}